<footer>
    <div class="grid-container">
        <div class="grid-cols footer-cols" id="col1">
            <h3>Document References</h3>
            <ul>
                <li><a href="https://www.w3schools.com">W3Schools</a></li>
                <li><a href="https://www.php.net">PHP Documents</a></li>
                <li><a href="https://www.forismatic.com">Quotation APIs</a></li>
            </ul>
        </div>
        <div class="grid-cols footer-cols" id="col2">
            <h3>Social Links</h3>
            <a href="https://www.facebook.com">
                <img class="social-link" src="./images/fb_1.png" alt="facebook"/>
            </a>
            <a href="https://www.facebook.com">
                <img class="social-link"  src="./images/insta_1.png" alt="youtube"/>
            </a>
            <a href="https://www.facebook.com">
                <img  class="social-link" src="./images/yt_1.png" alt="instagram"/>
            </a>
        </div>
        <div class="grid-cols footer-cols" id="col3">
            <h3>Contact Information</h3>
            <a href="./contact.php">Contact Us</a>
        </div>
    </div>
    <hr/>
    <div class="copy-rights">
        <p>Coded by <a href="">Minh Phan</a> and <a href="">Dylan</a></p>
    </div>
</footer>
</body>
</html>