<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- css -->
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <title><?php echo $pageTitle; ?></title>
    </head>
    <body>
        <div class="navigation-bar">
            <div id="navigation-container">
                <a href="#">
                    <img id="logo" src="./images/logo.png" alt=""/>
                </a>
                <ul id="navbar">
                    <li><a  <?php if ($page=="index") echo " class=\"active\""; ?> href="index.php">Home</a></li>
                    <li><a  <?php if ($page=="about") echo " class=\"active\""; ?> href="about.php">About us</a></li>
                    <li><a  <?php if ($page=="contact") echo " class=\"active\""; ?> href="contact.php">Contact</a></li>
                    <li><a  <?php if ($page=="login") echo " class=\"active\""; ?> href="login.php">Login</a></li>
                </ul>
            </div>
        </div>
        <section>